.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.example-radio-group {
  display: inline-flex;
}

.example{
  display: flex;
}
.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.fab-button-fixed {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

app-post-sample{
  margin-bottom: 10px;
}

app-post-sample:last-child{
  margin-bottom: 0px;
}

.container {
  width: 50%;
  padding: 10px;
  margin: 0 auto;
}

.spin{
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

app-post-sample{
  display: flex;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
