<div >
  <mat-spinner class="spin" *ngIf="!posts"></mat-spinner>


  <!--<div class="container">
    <app-post-sample *ngFor="let post of posts" [post]="post" (onRefresh)="onDelete($event)"></app-post-sample>
  </div>-->

  <mat-button-toggle-group [value]="checked" (change)="onChange($event)" style="margin: 10px;">
    <mat-button-toggle value="ALL">
      All
    </mat-button-toggle>
    <mat-button-toggle value="PUBLISHED">
      Published
    </mat-button-toggle>
    <mat-button-toggle value="DRAFT">
      Draft
    </mat-button-toggle>
    <mat-button-toggle value="ARCHIVED">
      Archived
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around; align-items: stretch" > <!--"space-around stretch"-->
    <app-post-sample *ngFor="let post of posts" [post]="post" (onRefresh)="onDelete($event)"></app-post-sample>
  </div>

  <a mat-fab color="primary" routerLink="/admin/manage/post" class="fab-button-fixed">NEW</a>
</div>
