.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.card-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
