<div style="display: flex;flex-direction: row"> <!-- space around start-->
  <mat-card class="card-container">
    <mat-card-title>
      New Post
    </mat-card-title>
    <form [formGroup]="rForm" (ngSubmit)="addOrUpdatePost(rForm.value)" class="example-container">

      <input matInput formControlName="id" placeholder="id" hidden>

      <mat-form-field>
        <input matInput formControlName="title" placeholder="Title" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="description" placeholder="Description" required>
      </mat-form-field>

      <textarea [froalaEditor]="editorOptions" formControlName="content"></textarea>

      <label class="mat-input-placeholder">Categories: </label>
      <section class="example-section">
        <mat-checkbox class="example-margin" style="margin-bottom: 20px" #categories
                      *ngFor="let category of allCategories" [checked]="isChecked(category)"
                      (change)="onCheckboxChange($event, category)">{{category.name}}
        </mat-checkbox>
      </section>

      <mat-form-field>
        <input matInput formControlName="urlName" placeholder="UrlName" required>
      </mat-form-field>


      <button mat-raised-button color="primary" value="Submit">Submit</button>
    </form>
  </mat-card>

  <mat-card>
    <form>
      <input type="file" #fileInput placeholder="file" required>
      <button mat-raised-button color="primary" (click)="uploadImage(fileInput)" value="Submit">Submit</button>
    </form>

    <img *ngIf="coverImgUrl" [src]="coverImgUrl" alt="image"/>
  </mat-card>

  <!--<mat-card *ngIf="rForm.value" class="card-container">
    <mat-card-header>
      <mat-card-title>
        <h1>{{rForm.value.title}}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div [innerHtml]="rForm.value.content"></div>
    </mat-card-content>
  </mat-card>-->
</div>

