<mat-card class="card-container">
  <mat-card-title>
    Edit User
  </mat-card-title>
  <form [formGroup]="rForm" (ngSubmit)="addOrUpdateAuthor(rForm.value)" class="example-container">

    <input matInput formControlName="id" placeholder="id" hidden>

    <mat-form-field>
      <input matInput formControlName="username" placeholder="Username" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" type="password" placeholder="Password" >
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="nickname" placeholder="Nickname" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" required>
    </mat-form-field>

    <button mat-raised-button color="primary" value="Submit">Submit</button>
  </form>
</mat-card>
