.card-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
