<!--
  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>Please login to continue</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form #userForm="ngForm" >
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Username" name="username" [(ngModel)]="user.username" value="admin">
          &lt;!&ndash;<mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>&ndash;&gt;
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="user.password" value="admin">
          &lt;!&ndash;<mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>&ndash;&gt;
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()" >Login</button>
    </mat-card-actions>
  </mat-card>
-->
