<mat-card *ngIf="post" class="post-card" >
  <img mat-card-image src="https://material.angularjs.org/1.1.0/img/washedout.png">

  <!--<mat-card-header>
    <mat-card-title>
      &lt;!&ndash;<h2 class="mat-h2">&ndash;&gt;
        <h3><a [routerLink]="['/home/post', post.id]">{{post.title}}</a></h3>
      &lt;!&ndash;</h2>&ndash;&gt;
    </mat-card-title>
    <mat-card-subtitle>
      {{post.created | date}} {{post.author.username}}
    </mat-card-subtitle>
    <img mat-card-avatar src="https://68.media.tumblr.com/avatar_ecca924394d5_128.png">
  </mat-card-header>-->
  <h3><a [routerLink]="['/home/post', post.id]">{{post.title}}</a></h3>

  <mat-card-content>
    {{post.description}}
  </mat-card-content>

  <mat-card-actions>
    <button mat-button [routerLink]="['/admin/manage/post', post.id]" color="primary">
      <i class="material-icons md-18">edit</i>
      Edit
    </button>
    <button mat-button *ngIf="post.status != 'ARCHIVED'" (click)="onUpdatePostStatus(post,'ARCHIVED')" color="warn">
      <i class="material-icons md-18">delete</i>
      Archive
    </button>
    <button mat-button *ngIf="post.status == 'ARCHIVED'" (click)="onDelete(post.id)" color="warn">
      <i class="material-icons md-18">delete</i>
      Delete
    </button>
    <mat-form-field>
      <mat-select placeholder="Status" [ngModel]="post.status" (ngModelChange)="onChange($event)">
        <mat-option *ngFor="let status of stats" [value]="status.value">
          {{status.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-actions>

</mat-card>
