<!--
<mat-card *ngFor="let post of posts" class="post-card">
  <mat-card-header>
    <mat-card-title>
      {{post.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{post.id}} {{post.created | date}} {{post.author.username}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{post.description}}
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="['/home/post', post.id]">Show more</a>
  </mat-card-actions>
</mat-card>
-->
<div style="display: flex; flex-direction: row; flex-wrap: wrap; flex-grow: 5;">
<mat-card *ngFor="let post of posts" class="post-card" style="margin-left: 1em; margin-right: 1em; margin-bottom: 1em; max-width: 400px; box-sizing: border-box">
  <img mat-card-image src="https://material.angularjs.org/1.1.0/img/washedout.png">

  <!--<mat-card-header>
    <mat-card-title>
      &lt;!&ndash;<h2 class="mat-h2">&ndash;&gt;
        <h3><a [routerLink]="['/home/post', post.id]">{{post.title}}</a></h3>
      &lt;!&ndash;</h2>&ndash;&gt;
    </mat-card-title>
    <mat-card-subtitle>
      {{post.created | date}} {{post.author.username}}
    </mat-card-subtitle>
    <img mat-card-avatar src="https://68.media.tumblr.com/avatar_ecca924394d5_128.png">
  </mat-card-header>-->
  <p class="mat-headline"><a  [routerLink]="['/home/post', post.id]">{{post.title}}</a></p>

  <mat-card-content>
    {{post.description}}
  </mat-card-content>

  <mat-card-actions>
    <a mat-button [routerLink]="['/home/post', post.id]">Show more</a>
  </mat-card-actions>
</mat-card>
</div>
