/*
.post-card {
  margin-bottom: 10px;
}

.post-card:last-child{
  margin-bottom: 0px;
}

.posts-content{
  width: 50%;
  padding: 10px;
}
*/
a{
  text-decoration: none;
}
a:visited{
  color: black;
}

