<div style="display: flex; flex-direction: column">
  <mat-toolbar color="primary" role="toolbar" style="display: flex; flex-direction: row">
  <span>
    <a class="angular-logo">Dashboard</a>
  </span>
    <span class="fill-remaining-space"></span>
    <a mat-button routerLink="/admin/manage/posts" routerLinkActive="active">Posts</a>
    <a mat-button routerLink="/admin/manage/categories" routerLinkActive="active">Categories</a>
    <span class="example-spacer"></span>
    <a mat-button [matMenuTriggerFor]="menu">
      {{loggedUserName?.nickname}}
      <mat-icon>arrow_drop_down</mat-icon>

    </a>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/admin/manage/author">
        <mat-icon>directions_run</mat-icon>
        <span>Edit profile</span>
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>directions_run</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
