<mat-button-toggle-group [value]="checked" (change)="onChange($event)">
  <mat-button-toggle value="all" >
    All
  </mat-button-toggle>
  <mat-button-toggle value="center">
    Published
  </mat-button-toggle>
  <mat-button-toggle value="right">
    Draft
  </mat-button-toggle>
</mat-button-toggle-group>

