<table>
  <tr>
  <td>
    <h3>#</h3>
  </td>
    <td>
      <h3>name</h3>
    </td>
    <td>
      <h3>description</h3>
    </td>
  </tr>
  <tr *ngFor="let category of categories">
    <td>
      {{category.id}}
    </td>
    <td>
      {{category.name}}
    </td>
    <td>
      {{category.description}}
    </td>
  </tr>

</table>
