/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0 auto;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
