<div>
  <div
    style="display: flex;
     justify-content: center;
     width: 100%;
     height: 20%;
     background-color: #4CAED8;
     background-size: cover">
    <div style="display: flex; flex-direction: column; justify-content: center">
      <h1 class="mat-display-3" style="margin-top: 15px; margin-bottom:0; text-align: center; color: white">Neue</h1>
      <p class="mat-title" style="margin-top: 0; text-align: center; color: white">SIMPLISTIC DESIGN WITH A TOUCH OF MODERN CONCEPT</p>
    </div>
  </div>
</div>
<mat-toolbar color="primary" style="padding-left: 5em">
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="/home/posts" routerLinkActive="active">POSTS</button>
  <a mat-button routerLink="/categories" routerLinkActive="active">CATEGORIES</a>
  <a mat-button routerLink="/aboutus" routerLinkActive="active">ABOUT</a>
  <a mat-button routerLink="/contact" routerLinkActive="active">CONTACT</a>
</mat-toolbar>
<div style="display: flex; flex-direction: row; margin-left: 5em; margin-right: 5em; margin-top: 2em;">
  <router-outlet></router-outlet>
  <div style="display: flex; flex-direction: column;margin-left: 1em; margin-right: 1em; margin-bottom: 1em; flex-grow: 5;">
    <div style="width: auto; background-color: #4CAED8; color: #fff; padding-left: 24px;">
      <p class="mat-title" style="margin-bottom: 0; padding-bottom: 7px; padding-top: 7px">ABOUT ME</p>
    </div>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>

      <!--<mat-card-header>
        <mat-card-title>
          &lt;!&ndash;<h2 class="mat-h2">&ndash;&gt;
            <h3><a [routerLink]="['/home/post', post.id]">{{post.title}}</a></h3>
          &lt;!&ndash;</h2>&ndash;&gt;
        </mat-card-title>
        <mat-card-subtitle>
          {{post.created | date}} {{post.author.username}}
        </mat-card-subtitle>
        <img mat-card-avatar src="https://68.media.tumblr.com/avatar_ecca924394d5_128.png">
      </mat-card-header>-->

      <mat-card-content>
        A passionate programmer, web developer and designer. Ready to learn anything new..
      </mat-card-content>

      <mat-card-actions>
        <a mat-button [routerLink]="['/']">My profile</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

