<mat-card *ngIf="post">
  <div
    style="display: flex;
     justify-content: center;
     width: 100%;
     height: 400px;
     background-color: aquamarine;
     background: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg) no-repeat center center;
     background-size: cover">
    <div style="display: flex; flex-direction: column; justify-content: center">
      <h1 class="mat-display-3" style="margin-top: 0">{{post.title}}</h1>
      <p class="mat-title" style="margin-top: 0; text-align: center">by {{post.author.username}} on {{post.created | date}} </p>
    </div>
  </div>
  <div class="mat-typography" style="margin-left: 5em; margin-right: 5em;" [innerHtml]="trustedContent"></div>
</mat-card>
