#header-wrapper {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

#header-wrapper::after {
  background: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&h=350) no-repeat center center fixed;
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: .5;
}

.mat-card{
  padding: 0;
}
